[submodule "3rdparty/pybind11"]
	path = 3rdparty/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "3rdparty/pybind11_json"]
	path = 3rdparty/pybind11_json
	url = https://github.com/pybind/pybind11_json.git
[submodule "3rdparty/nlohmann_json"]
	path = 3rdparty/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "3rdparty/yaml-cpp"]
	path = 3rdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "3rdparty/indicators"]
	path = 3rdparty/indicators
	url = https://github.com/p-ranav/indicators
