tests/test_data/media/* filter=lfs diff=lfs merge=lfs
tests/test_data/process/* filter=lfs diff=lfs merge=lfs
tests/test_data/utils/* filter=lfs diff=lfs merge=lfs
tests/test_data/models/*.json filter=lfs diff=lfs merge=lfs
tests/test_data/dnn/*.json filter=lfs diff=lfs merge=lfs
tests/test_data/dnn/*.bin filter=lfs diff=lfs merge=lfs
