build/
build_release/
lib/
bin/
examples/modules
__pycache__

!projects/torchdnn/demos/DCMT/lib
*.bin
!tests/test_data/media/zidane_encode.bin
!tests/test_data/process/*.bin
!tests/test_data/dnn/*.bin
projects/torchdnn/data/unet
projects/torchdnn/data/yolov5
projects/torchdnn/data/dcmt

examples/MIPI/data
