[submodule "3rdparty/pybind11"]
	path = 3rdparty/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "3rdparty/pybind11_json"]
	path = 3rdparty/pybind11_json
	url = https://github.com/pybind/pybind11_json.git
[submodule "3rdparty/nlohmann_json"]
	path = 3rdparty/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "3rdparty/yaml-cpp"]
	path = 3rdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "3rdparty/indicators"]
	path = 3rdparty/indicators
	url = https://github.com/p-ranav/indicators
[submodule "3rdparty/mcap"]
	path = 3rdparty/mcap
	url = https://github.com/foxglove/mcap.git
[submodule "3rdparty/waymo-open-dataset"]
	path = 3rdparty/waymo-open-dataset
	url = https://github.com/waymo-research/waymo-open-dataset.git
[submodule "3rdparty/absl"]
	path = 3rdparty/absl
	url = https://github.com/abseil/abseil-cpp.git
